<%- contentFor('HeaderCss') %>
<%-include("../partials/title-meta",{"title": "Register"}) %>

<%- contentFor('body') %>
<div class="section-authentication-cover">
  <div class="">
    <div class="row g-0">

      <div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex border-end bg-transparent">

        <div class="card rounded-0 mb-0 border-0 shadow-none bg-transparent bg-none">
          <div class="card-body">
            <img src="assets/images/auth/forgot-password1.png" class="img-fluid auth-img-cover-login" width="550"
              alt="">
          </div>
        </div>

      </div>

      <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center">
        <div class="card rounded-0 m-3 mb-0 border-0 shadow-none bg-none">
          <div class="card-body p-5">
            <img src="assets/images/logo1.png" class="mb-4" width="145" alt="">
            <h4 class="fw-bold">Genrate New Password</h4>
            <p class="mb-0">We received your reset password request. Please enter your new password!</p>
            <div class="form-body mt-4">
                <form class="mt-4 pt-2" action="/changepassword" method="post">
                  <input type="hidden" name="token" value="<%= token %>">
                  <div class="mb-3">
                    <label class="form-label" for="input-newpassword">Password</label>
                    <div class="input-group" id="show_hide_password">
                      <input type="password" class="form-control pe-5 password-input"name="password" id="input-newpassword" onpaste="return false" placeholder="Enter password" id="password-input" aria-describedby="passwordInput" required>
                      <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                    </div>
                    <div id="passwordInput" class="form-text">Must be at least 5 characters.</div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="input-confirmpassword">Confirm Password</label>
                    <div class="input-group" >
                      <input type="password" class="form-control pe-5 password-input" onpaste="return false" name="confirmpassword" id="input-confirmpassword" minlength="5" placeholder="Confirm password" id="confirm-password-input" required>
                      <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                    </div>
                  </div>
 <div id="confirmpasswordInput" class="form-text text-danger" style="display: none;">Confirm password not matched.</div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                    <label class="form-check-label" for="auth-remember-check">Remember me</label>
                  </div>

                  <div class="mt-4">
                    <button class="btn btn-success w-100" type="submit">Reset Password</button>
                  </div>

                </form> </div>
    
              </div>
              </div>
            </div>
    
          </div>
          <!--end row-->
        </div>
      </div>
          <div class="mt-4 text-center">
            <p class="mb-0">Wait, I remember my password... <a href="auth-signin-basic" class="fw-semibold text-primary text-decoration-underline"> Click here </a> </p>
          </div>
<!-- end auth-page-wrapper -->
<%- contentFor('FooterJs') %>

<!-- password-addon init -->
<script>
  const confirmpassword = document.getElementById("input-confirmpassword");
  const password = document.getElementById("input-newpassword");
  if (confirmpassword) {
    confirmpassword.addEventListener("keyup", function() {
      console.log(confirmpassword.value);
      // confirmpasswordInput
      if (confirmpassword.value != "" && password.value != "") {
        if (confirmpassword.value != password.value) {
          document.getElementById("confirmpasswordInput").style.display = "block";
          document.getElementById("btnSubmit").setAttribute("disabled", "disabled")
        } else {
          document.getElementById("confirmpasswordInput").style.display = "none";
          document.getElementById("btnSubmit").removeAttribute("disabled")
        }
      }
    })
  } 

  var pass = document.getElementById("password-addon");

  if(pass){
    pass.addEventListener("click",function(){
        if(document.getElementById("input-newpassword").getAttribute("type") == "text"){
          document.getElementById("input-newpassword").setAttribute("type","password")
        }else{
          document.getElementById("input-newpassword").setAttribute("type","text")
        }
    })
  }


  $(document).ready(function () {
  $("#show_hide_password a").on('click', function (event) {
    event.preventDefault();
    if ($('#show_hide_password input').attr("type") == "text") {
      $('#show_hide_password input').attr('type', 'password');
      $('#show_hide_password i').addClass("bi-eye-slash-fill");
      $('#show_hide_password i').removeClass("bi-eye-fill");
    } else if ($('#show_hide_password input').attr("type") == "password") {
      $('#show_hide_password input').attr('type', 'text');
      $('#show_hide_password i').removeClass("bi-eye-slash-fill");
      $('#show_hide_password i').addClass("bi-eye-fill");
    }
  });
});
</script>